.AllPhoneComponent {
  //image in navtypephone
  .allphone-img {
    .a {
      height: 13%;
      width: 13%;
      border: 1px solid #ccc;
      padding: 5px;
    }
  }

  .galleryall {
    margin: 0px;
    // border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 350px;
    transition: transform 0.4s;
    .desc {
      padding: 10px 5px 0 5px;
      text-align: left;
      .aname {
        height: 40px;
        font-size: 14px;
        font-family: Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
        p{
          margin-bottom: 0px;
        }
      }
      .pall {
        color: red;
        font-size: 15px;
        font-weight: bold;
        float: bottom;
        .aall {
          color: black;
          font-size: 13px;
          text-decoration-line: line-through;
          font-weight: normal;
          display: inline;
          font-style: italic;
        }
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      padding-top: 20px;
      height: auto;
    }
    &:hover {
      img {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
  .giamgia {
    background: linear-gradient(to bottom, red 0%, orange 100%);
    margin: 0 30px 0 5px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  .tragop {
    background-color: orange;
    margin: 0 110px 0 5px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 13px;
    vertical-align: center;
    font-weight: bold;
    color: white;
  }
  .href {
    text-decoration: none;
    color: black;
  }
  .heightphone {
    margin: 10px 150px;
    background-color: white;
    min-height: 3600px;
  }
}
